.App {
  text-align: center;

  color: #e21e2d;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#head {
  font-size: 45px;
  width: 100%;
  padding: 30px 20px 10px 0;
  display: inline-block;
  text-align: left;
  margin-left: 5px;
  font-weight: bold;

  color: rgb(8, 8, 47);
}

#para {
  font-size: small;
  color: rgb(180, 179, 179);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

#button {
  background-color: rgba(194, 194, 194, 0.514);

  height: 38px;
  border: none;
  width: auto;
  font-weight: 600;
  color: white;
  background-color: rgb(255, 196, 0);
  /* size: 1ch; */
  align-self: center;
}

.colour {
  background-color: white;

  font-size: 13px;
}

.container {
  background-color: rgb(238, 238, 238);
}

#size 
{

  height: 500;
  width: auto;

  margin-left: 5%;
  margin-top: 5% ;
  
}

form-size {
  width: auto;
}

#butt,
#butt1 {
  border: 2px solid #e21e2d !important;

  /* background-color: #e21e2d;  */
}
.w3-button {
  border: none;
  display: unset !important;
  padding: 8px 8px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
}

.App-header {
  background-color: #c2e917;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tab{

margin: auto;


}



.App-link {
  color: #61dafb;
}
p {
  margin-bottom: 6px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
